@mixin page-vertical-spacing($top: true, $bottom: true) {

	@if $top == true {
		padding-top: frem(2.5);

		@media (min-width: $breakpoint-tablet) {
			padding-top: frem(3.75);
		}

		@media (min-width: $breakpoint-desktop) {
			padding-top: frem(5);
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-top: frem(6.25);
		}

		@media (min-width: $breakpoint-desktop-xx-large) {
			padding-top: frem(7.5);
		}
	}

	@if $bottom == true {
		padding-bottom: frem(3.75);

		@media (min-width: $breakpoint-tablet) {
			padding-bottom: frem(5);
		}

		@media (min-width: $breakpoint-desktop) {
			padding-bottom: frem(6.25);
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-bottom: frem(7.5);
		}

		@media (min-width: $breakpoint-desktop-xx-large) {
			padding-bottom: frem(8.75);
		}
	}
}
